# Name    :  Neetiraj
# Reg no. : 21-27-03
# AM624D
# Data science

# 1. Read the housingdata.csv file into pandas DataFrame and display first six rows of the DataFrame

In [ ]:
import numpy as np
import pandas as pd
import re
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv('housingdata.csv')

In [ ]:
df

In [ ]:
df.head(6)

# 2. Display the column names and row index in separate cells.

In [ ]:
print(f'column : {df.columns}')

In [ ]:
df.index

# 3. a) How many numbers of “STATE” exist in the dataset. Hint: use shape b) How many unique states exist in the dataset

In [ ]:
print(f'No. of STATE in dataset : {df.shape[0]}')

In [ ]:
X = df.STATE.unique()
print(f'Unique States: {X}')
print(f'No. of unique states: {len(X)}')

# 4. Retrieve the list of all NaN/Null/Empty cells in the form of Boolean list

In [ ]:

[df.iloc[i,j] for i,j in zip(*np.where(pd.isnull(df)))]

In [ ]:
X = np.array(np.where(pd.isnull(df)))
X

In [ ]:
df.iloc[2,3]

In [ ]:
y = df.isnull()
y

In [ ]:
y = y.values
y.tolist
y

# 5. Drop all rows with N/A,NA,na values in Num_Bedrooms

In [ ]:
df['NUM_BEDROOMS'] = df['NUM_BEDROOMS'].replace('na', np.NaN)
df

# Re Module

In [ ]:
df = df[df['NUM_BEDROOMS'].notna()]
df

#  6. Replace the NaN and String entries in Num_Bath with previous entry

In [ ]:
df['NUM_BATH'] = df['NUM_BATH'].str.replace('^[a-z]+', '' , regex = True, flags = re.I)
df['NUM_BATH'] = df['NUM_BATH'].replace('', np.NaN)
df['NUM_BATH'] = df['NUM_BATH'].fillna(method= 'ffill')

df['NUM_BATH'] = df['NUM_BATH'].fillna(method='ffill')
df['NUM_BATH'] = df['NUM_BATH'].replace(df['NUM_BATH'].str, method= 'ffill')

df

# 7. Replace the empty values in “SQ_FT” with the mean of the all entries

In [ ]:
df['SQ_FT'] = df['SQ_FT'].replace('--',np.NaN)
df['SQ_FT'] = df['SQ_FT'].astype(float)
df['SQ_FT'].fillna(int(df['SQ_FT'].mean()), inplace=True)
df

# 8. What is the sum of SQ_FT of all entries in the dataset

In [ ]:
df['SQ_FT'].sum()

# 9. Add a new column “NUM_STORE” and with all the values as 1 for all rows

In [ ]:
df['NUM_STORE']=1

In [ ]:
df

# 10. Create a DataFrame containing all entries of TN state only

In [ ]:
df[df['STATE']=='TN']

# 11. Create a DataFrame having SQ_FT area greater than 1000 and display the DataFrame

In [ ]:
df.loc[df['SQ_FT'] > 1000]

# 12. Create a DataFrame having only first Three columns and First Three rows

In [ ]:
df[['PID','STATE','PRICE']].head(3)

# 13. Display the state having highest average price per square foot of housing area. Hint: Average of (TotalPrice/Sq_Ft)

In [ ]:
per = df
per

In [ ]:
per = df.groupby('STATE').mean()
per

In [ ]:
per['Average'] = per['PRICE']/per['SQ_FT']
per

In [ ]:
per['Average'].idxmax()